.nav {
  display: flex;

  div {
    width: 50%;
    border: 1px solid black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
  }

  .selected {
    color: blue;
  }
}