.chat__container {
  .column {
    padding: 0;
    width: 100%;
    display: flex;
    height: 600px;
    .user__list {
      width: 250px;
      height: 100%;
      overflow: scroll;
      border-right: 1px solid #eaecef;
      border-bottom: 1px solid #eaecef;
      .title {
        background-color: #eaecef !important;
        padding: 14px;
      }
      .list {
        padding: 20px;
      }
    }
    .chatting__container {
      width: 100%;
      height: 100%;
      padding: 10px;
      overflow-y: scroll;
      border-bottom: 1px solid #eaecef;
    }
  }

  .input__container {
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
}
